/* styles.css */

/* Reset default margin and padding */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Set a background color and font for the body */
body {
    font-family: OCR A Std, monospace;
    background: #22479d;
background: radial-gradient(circle, #22479d 57%, #7d44cc 100%);
color: white;
}

/* Style the header */
header {
    background: radial-gradient(circle, rgba(34,71,157,1) 27%, rgba(125,68,204,1) 100%);
    color: white;
    font-family: OCR A Std, monospace;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.head{
    display: flex;
    align-items: center;
}
.logo{
    margin-right: 20px;
}
header h1 {
    font-family: OCR A Std, monospace;
    font-size: 63px;
    color: white;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 10px;
    margin-bottom: 30px;
}

nav ul {
    list-style-type: none;
    text-align:center;
    background: rgba(9, 66, 200, 0.281);
    bottom: 0;
    font-size: 20px;
    
}

nav ul li {
    display: flex;
    margin-right: 20px;
    padding: 10px;
    margin-top: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    display: inline-block;
    
    text-decoration: none;
    background-color: transparent;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color:#bc80df; /* Change color on hover */
    transition: background-color 0.3s;
    
}

/* Style the main sections */
main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

p {
    line-height: 1.6;
}

/* Style the footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Style the buttons */

button:o {
    background-color: rgba(0, 0, 0, 0.2); /* Darker color on hover */
}

.container {
    flex-grow: 1;
    display: flex;
    justify-content: center; /* Align items horizontally in the center */
}


/* Dropdown button */
.dropdown{
    position: relative;
    color: white;
    display: inline-block;
    transition: background-color 1s ease;
    margin-bottom: 20px;

}
.dropbtn {
	transition: background-color 0.5s ease;
    margin-right: 35px;
    color: white;
}

.dropbtn:hover {
	background-color: rgba(0, 0, 0, 0.2); /* Darker color on hover */
    transition-timing-function: ease-in-out;
}



  /* Dropdown content (hidden by default) */
.dropdown-content {
	display: none;
    text-align: left;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	z-index: 1;
    left: 0;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    border-radius: 10px;
    
    visibility: hidden;
}

  /* Links inside the dropdown */
.dropdown-content a {
	display: block;;
	color: #333;
	text-decoration: none;
	transition: background-color 0.3s ease-in-out;
    padding: 10px 20px;

} 
  /* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #7f4dd7;
    color: white;
    border-radius: 5px;
}

  /* Show the dropdown content when the dropdown button is hovered over */
.dropdown:hover .dropdown-content {
	display: block;
    opacity:1;
    visibility: visible;
    max-height: 500px;
}

